.dropbtn i {
    color: black;
    font-size: 1.4rem;
    margin-top: 15px;
    color: #01CD74;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-user {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    right: 3%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-user:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display:flex;
    align-items:center;
}

.dropdown-content a i {
    font-size: 1.2rem;
}

.dropdown-content a span {
    margin-left: 5px;
}